packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml 
packages/Newtonsoft.Json.9.0.1/lib/net35 
packages/Newtonsoft.Json.9.0.1/lib/
packages/Newtonsoft.Json.9.0.1/tools/
packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg 